.home {
  display: flex;
  font-size: 1rem;
}

.header-image img {
  max-width: 100px;
  max-height: 100px;
  border-radius: 25%;
  padding: 0.5rem;
  display: flex;
}

.home ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.home li {
  border-radius: 45px;
  border: solid;
}

.info-details {
  margin: 0.5rem;
  display: inline-block;
}
