.projects {
  display: flex;
  font-size: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.project-container {
  margin: 0.5rem;
}

.project-section-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.project-outline {
  padding: 1rem;
}
